body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('http://localhost/WTF/5039684.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.signup, .login {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add opacity to the background color */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
